################################
# Probing Settings             #
# Inductive Probe Fotek PL-05N #
################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling

# Select the probe port by type:
## For the PROBE port; use this with the original OMRON sensor.
pin: ^EBBCan:PB9
## For the spare endstop port; use this with the Fotek PL-05N (or generic) inductive probe
#pin: ^PG11
## For Octopus Pro Probe port; NPN and PNP proximity switch types can be set by jumper
# pin: ^PC5

#--------------------------------------------------------------------

x_offset: 1
y_offset: 23.0
z_offset: 0.262106
speed: 15 #10.0
samples: 5
samples_result: median
sample_retract_dist: 3.0
#samples_tolerance: 0.006
samples_tolerance_retries: 3